@model IEnumerable<InventionDiscovery.Models.Invention>


<table class="table">
    <tr>
        <th>
            Inventor Name
        </th>
    
        <th>
            InventionDiscovery
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Encode(item.InventorName)
        </td>
       
        <td>
            @Html.Encode(item.InventionDiscovery)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
